@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* The asterisks applies this css to all elements on the page
*/
* {
  box-sizing: border-box;
}

/* Applies font to all elements in the html tags
*/
html {
  font-family: 'Noto Sans JP', sans-serif;
}

/* Applies font to all elements in the body tags
*/
body {
  margin: 0;
  background-color: #3f3f3f;
}